.MuiContainer-root{
  padding: 2rem;
}

.MuiCard-root{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: whitesmoke;
  border-radius: 0.4rem;
}
.MuiGrid-item{
  padding: 2rem;
}
.MuiCardContent-root{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.MuiCardContent-root h2{
   color: #39739d;
  border-bottom: 1px solid grey;
}

.MuiCardContent-root tags{
  display: flex;
  gap: 0.2rem;
}